# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# VSCode settings (optional)
.vscode/

# Mac system files
.DS_Store